
@{
    Layout = "_Layout";
}
@model Usuarios
@{
    var msgErro = TempData["MsgErro"] as string;
}

@if (!string.IsNullOrEmpty(msgErro))
{
    <div class="alert alert-danger" role="alert">
        <strong>Erro:</strong> @msgErro
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - Quadra+</title>
    <link href="~/css/login.css" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <div class="formulario">
            <form class="row g-3" asp-controller="Cadastro" asp-action="ValidarUsuario" method="post">
                <label for="text">CPF:</label>
                <input type="text" id="cpf" name="cpf" required>

                <label for="senha">Senha:</label>
                <input type="password" id="senha" name="senha" required>

                <button type="submit" class="btn-entrar">Entrar</button>
            </form>
        </div>

        <div class="logo">
            <img src="~/lib/Imagens/QuadraMais.png" alt="Logo Quadra+">
        </div>
    </div>

    <a class="sair" asp-controller="Cadastro" asp-action="Index">✖ Sair</a>
</body>
