
@{
    Layout = "_Layout"; 
}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página Principal - Quadra+</title>
    <link rel="stylesheet" href="/css/principal.css">
</head>
<body>
    <!-- Cabeçalho -->
    <header>
        <div class="logo-area">
            <img src="~/lib/Imagens/QuadraMais.png" alt="Logo Quadra+">
            <h1>Quadra+</h1>
            <p>Se você procura um lugar para praticar esportes sem preocupação, vem já!</p>
        </div>
        <form>
        <nav>
            <ul>

                    <li><a class="nav-link text-dark" asp-area="" asp-controller="Reserva" asp-action="Alugar">Alugar</a></li>
                    <li><a class="nav-link text-dark" asp-area="" asp-controller="Cardapio" asp-action="Index">Cardápio</a></li>
                    <li><a class="nav-link text-dark" asp-area="" asp-controller="Reserva" asp-action="Index">Reservas</a></li>
                    <li><a class="nav-link text-dark" asp-area="" asp-controller="Cardapio" asp-action="Admin">Admin</a></li>
            </ul>
        </nav>
        </form>
    </header>

    <!-- Conteúdo principal -->
    <main>
        <section class="conteudo">
            <div class="texto-imagem">
                <img src="~/lib/Imagens/quadra_volei.png" alt="Quadra de Vôlei">
                <div class="texto">
                    <h2>A Melhor Experiência em Quadras de Vôlei</h2>
                    <p>
                        Oferecemos quadras de vôlei de alta qualidade, seguras e bem iluminadas,
                        perfeitas para jogadores de todos os níveis. Além disso, disponibilizamos
                        equipamentos completos, como redes e bolas oficiais, para garantir um jogo
                        confortável e profissional.
                    </p>
                </div>
                <img src="~/lib/Imagens/bola_volei.png" alt="Bola de Vôlei">
            </div>

            <p class="descricao">
                Para recarregar suas energias, temos uma variedade de alimentos frescos e bebidas,
                tudo pensado para seu conforto durante as partidas. Nossa equipe dedicada garante
                um atendimento amigável e eficiente, criando o ambiente ideal para você e seu grupo
                aproveitarem ao máximo.
            </p>
        </section>
    </main>

    <!-- Rodapé -->
    <footer>
        <p>Venha jogar conosco e aproveite a melhor estrutura para vôlei da cidade!</p>
    </footer>
</body>
